@import url('https://fonts.googleapis.com/css?family=Montserrat');
.bg-diwali-landing-page {
    background-image: url("../../img/images/overlay1.png");
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fafafb;
    padding-top: 60px;
}
.btn-d-activate-coupon {
    width: 210px;
    height: 50px;
    font-weight: 600;
    background: #fe9611;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(232, 81, 81, 0.3);
    border-radius: 60px !important;
    background-image: radial-gradient(undefined undefinedpx at, #ffa661 0%, #e85151 100%);
}

.btn-d-signup {
    width: 210px;
    height: 50px;
    background: #fe9611;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 20px;
    box-shadow: 0 5px 15px rgba(232, 81, 81, 0.3);
    border-radius: 60px !important;
    background-image: radial-gradient(undefined undefinedpx at, #ffa661 0%, #e85151 100%);
}
.btn-d-activate-coupon {
    width: 210px;
    height: 50px;
    font-weight: 600;
    background: #fe9611;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(232, 81, 81, 0.3);
    border-radius: 60px !important;
    background-image: radial-gradient(undefined undefinedpx at , #ffa661 0%, #e85151 100%);
}

.btn-d-signup {
    width: 210px;
    height: 50px;
    background: #fe9611;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 20px;
    box-shadow: 0 5px 15px rgba(232, 81, 81, 0.3);
    border-radius: 60px !important;
    background-image: radial-gradient(undefined undefinedpx at , #ffa661 0%, #e85151 100%);
}

.contactTop {
    width: 196px;
    height: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    /*letter-spacing: 1px;*/
    line-height: 20px;
}

.p-15 {
    padding: 15px;
}

.shoppingKart {
    height: 50px;
    padding: 8px 0px;
    width: 100%;
    /*border: 1px solid #f1f1f1;*/
    /*background-color: #ffffff;*/
}

.offerDescHeader {
    color: #677582;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
}

.offerDesc {
    color: #677582;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.offerDesc ul {
    padding-left: 20px;
}

.offerDesc ul li {
    color: #507dbc;
    font-size: 16px;
}

.support {
    height: 20px;
    color: #fdf699;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 20px;
}

.shop {
    text-align: center;
    width: 100%;
    height: 20px;
    color: #677582;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
}

.grabOff {
    width: 83px;
    height: 24px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 24px;
    text-transform: uppercase;
}

.formtext {
    width: 82px;
    height: 18px;
    color: #d83646;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #12273b;
}

.couponcodediwl {
    width: 185px;
    height: 42px;
    color: #fdf699;
    font-family: Bahnschrift;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 2.6px;
    line-height: 55px;
    text-transform: uppercase;
}

.startingfrom {
    /* Style for "Starting f" */
    width: 411px;
    height: 61px;
    color: #fdf699;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height: 61px;
    /* Text style for "Starting f" */
    color: #ffffff;
}

.offerprice {
    color: #c1c8ce;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 61px;
    text-decoration: #e85151 line-through;
}

.formFrame {
    padding: 20px 20px;
    box-shadow: 0 0 20px rgba(17, 39, 59, 0.05);
    border-radius: 15px;
    background-color: #ffffff;
    color: #677582;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
}

.rowdetails {
    /*height: 80px;*/
    border-radius: 15px 15px 0 0;
    background-color: #fafafb;
    padding: 30px 0;
    color: #000;
    margin-top: 30px;
}

.startsvalid {
    color: #677582;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
}

.startsValidValue {
    color: #507dbc;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
}

.shopContainer {
    box-shadow: 0 0 10px rgba(17, 39, 59, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    /*padding: 10px;*/
    margin-top: -360px;
    padding-left: 0px;
    padding-right: 0px
}

.saveupto {
    width: 337px;
    height: 61px;
    color: #fdf699;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 61px;
    text-transform: uppercase;
    color: #ffffff;
}

.shopFrom {
    width: 456px;
    height: 126px;
    color: #ffffff;
    font-family: "DIN Black Alternate";
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 2.75px;
    line-height: 61px;
}

.enqDiwalioffer {
    width: 256px;
    height: 42px;
    text-shadow: 0 0 3px #fdf699;
    color: #fdf699;
    font-family: Bahnschrift;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 40px;
    text-transform: uppercase;
}

.btn-contactus {
    display: inline-block;
    padding: 6px 50px;
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: solid 2px #ffd800;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 30px;
}

.lblWithglyph {
    color: #fdf699;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}

.lblWithoutGlyph {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.diwali-stores {
    box-shadow: 0 0 10px rgba(17, 39, 59, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
}

.d-stores-box {
    width: 164px;
    height: 60px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    display: table;
}

.d-online-stores {
    display: table-cell;
    vertical-align: middle;
}

.d-contact-div {
    width: 220px;
    height: 50px;
    border-radius: 40px 40px 0;
    padding: 10px;
    border: 2px solid #fdf699;
}

.d-contact-div img {
    height: 30px;
    width: 30px;
}

#d-contcat a:hover {
    color: #ffffff;
}

.contact-support a {
    color: #ffffff;
}

.header-spacing {
    letter-spacing: 2.75px;
}

.p-color-yellow {
    color: #fdf699
}

.header-landing-page {
    font-size: 55px;
    font-weight: 900;
}

.div-diwali-coupon {
    border: 2px #fdf699;
    border-style: dashed;
    border-radius: 5px;
}

.div-diwali-coupon:nth-child(2) {
    padding-top: 11px;
}

.coupan-code {
    font-size: 55px;
    color: #fdf699;
    font-weight: 900;
    padding-left: 25px;
}

.diwali-img {
    width: 100%;
    margin-left: 15px;
}

.offer-description {
    padding: 50px;
}

.offer-description h4, h5, p {
    font-weight: 600;
}

.text-center h1 {
    font-weight: 900;

}

.d-contact-img-desktop {
    display: block;
}

.d-contact-img {
    display: none;
}

.diwali-offer-img {
    margin-left: 10px;
}

.d-contact-section-desktop {
    background-color: #507dbc;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -11px;
}

.d-contact-details-section {
    display: none;
    background-color: #507dbc;
    margin-bottom: -10px;
}

#diwali-couponcode2 {
    display: none;
}

/*!*ICS LANDING PAGE*!*/
.bg-ics-landing-page {
    background-image: url("../../img/images/overlay1.png");
    /*height: 100%;*/
    height: 560px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fafafb;
    padding-top: 60px;
}
.div-ics-coupon-parent{
    box-shadow: 0 0 36px rgba(146, 156, 165, 0.2);
    border: 2px dashed #e85151;
    background-color: #ffffff;
    height: 178px;
    padding-left: 30px;
    padding-right: 30px;
}
.div-ics-coupon {
    border: 2px dashed #e9c46a;
    border-radius: 5px;
}
.div-ics-prodcts{box-shadow: 0 0 10px rgba(80, 125, 188, 0.1);border-radius: 10px;background-color: #ffffff;}
.div-ics-prodcts ul{text-decoration: none; list-style: none; padding-top: 20px}
.div-ics-prodcts img{width: 30px;height: 40px;}
.div-ics-prodcts ul li{padding-top:0px;color: #224464;font-family: Bahnschrift;font-size: 22px;font-weight: 400}
/*!*ICS LANDING PAGE*!*/

/*ifs-landing-page*/
.product-courier{background-color: #fafafb;border-bottom: 1px solid rgba(180, 211, 255, 0.3);}
.div-form-get-quote{padding-top: 30px;padding-bottom: 30px}
.div-form-get-quote img{width: 30% ;margin-bottom: 30px}
.div-ics-border-btm{border-bottom: 1px solid rgba(180, 211, 255, 0.3); padding-top: 70px;padding-bottom: 30px }
.btn-ifs-l-assisted {width: 300px;height: 50px;color: #ffffff;border-radius: 30px !important; background-color: #e85151; padding-top: 13px !important;transition: 0.6s;color:#fff }
.btn-ifs-l-assisted:hover {background-color: #C83B3B;color: white;border: none;-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);}
.div-lets-ps{box-shadow: 0 0 10px rgba(17, 39, 59, 0.1);border-radius: 20px;background-color: #fafafb;margin-top: -368px;padding-top: 50px }
.div-lets-ps div a{color: #507dbc;font-family: Montserrat;font-size: 15px;font-weight: 700;}
.div-lets-ps div a:hover{color: #507dbc;text-decoration:underline }
.div-lets-ps div button{box-shadow: 0 5px 15px rgba(232, 81, 81, 0.3);border-radius: 60px;background: #fe9611;opacity: 1; height: 50px}
.div-lets-ps div button:hover{color:#fff;opacity: 0.8}
.product-courier{background-color: #fafafb;margin-top: 30px}
/*.product-courier>div{border-bottom: 1px solid rgba(180, 211, 255, 0.3);padding-top: 30px;}*/
.product-courier a{width: 300px;height: 50px;border-radius: 30px;background-color: #e85151; color: white;padding: 15px}
.product-courier a:hover{background-color: #C83B3B;color: white;border: none;-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);}
.ps-img-rounded{height:400px}
.div-btn-padding{padding-top: 30px;}
/*ifs-landing-page*/

@media only screen and (max-width: 600px) {

    .div-btn-padding{padding-top: 0px;margin-left: -12px;}
    .img-rounded {height: 300px;}

    .shopContainer {
        margin-top: -200px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .diwali-form-img {
        /*padding-top: 50px;*/
    }

    .bg-diwali-landing-page {
        height: 1100px;
        width: 100%;
    }
    .header-landing-page {
        font-size: 32px;
    }

    .header-spacing {
        letter-spacing: -0.25px;
    }

    .d-contact-img {
        display: block;
    }

    .d-contact-img-desktop {
        display: none;
    }

    .coupan-code {
        font-size: 34px
    }

    .div-diwali-coupon {
        margin-bottom: 40px;
    }

    .d-stores-box {
        width: 110px;
        height: 66px;
    }

    .startsvalid {
        margin-bottom: 20px;
    }

    .d-contact-details-section {
        display: block;
    }

    .d-contact-section-desktop {
        display: none;
    }

    .offer-description {
        padding: 30px;
    }

    .diwali-offer-img {
        margin-left: 5px;
    }
    /*ics landig page*/
    .div-ics-prodcts img{width: 15px;height: 20px;}
    .div-ics-prodcts ul li{padding-top:10px;font-size: 13px;}
    /*ics landig page*/

}

@media only screen and (max-width: 375px) {
    .shopContainer {
        margin-top: -130px;
    }
    .d-stores-box {
        width: 110px;
        height: 66px;
    }

    .diwali-offer-img {
        margin-left: 1px;
    }

    .diwali-form-img {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 320px) {
    .shopContainer {
        margin-top: -130px;
    }

    .d-stores-box {
        width: 90px;
        height: 66px;
    }

    .diwali-offer-img {
        margin-left: 1px;
    }

    .diwali-form-img {
        padding-right: 0;
        padding-left: 0;
    }
}
