
.btn-vid-img {
    width: 80px;
    height: 80px;
}

.div-courier-cal {
    box-shadow: 0 10px 50px rgba(17, 39, 59, 0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ffffff;
    /*margin: -89px 0 10px 0;*/
}

.div-shop-ship-tabs{
    padding-left: 15%;
    padding-bottom: 30px
}

.div-courier-cal-margin {

    margin-bottom: 40px;
}

/*tabs for calculate*/

a:hover, a:focus {
    outline: none;
    text-decoration: none;
    color: #507dbc;
}

.tab .nav-tabs {
    border-bottom: none;
    position: relative;
}

.tab .nav-tabs li {
    margin-right: 15px;
}

.tab .nav-tabs li a {
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    /*color: #25283d;*/
    color: #677582;
    border-radius: 0;
    /*text-transform: uppercase;*/
    margin-right: 0;
    border: none;
    position: relative;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover {
    /*background: #fff;*/
}

.tab .nav-tabs li a:before {
    content: "";
    width: 60%;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 5px;
    left: 20px;
    background: #507dbc;
    transform: scale(0);
    transition: all 700ms ease 0s;
}

.tab .nav-tabs li a:after {
    content: "";
    background: #507dbc;
    margin: 0 auto;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: all 700ms ease 0s;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover {
    border: none;
    color: #507dbc;
}

.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after {
    transform: scale(1);
}

.tab .tab-content {
    /*padding: 20px;*/
    background: #fff;
    font-size: 14px;
    color: #a09d9d;
    line-height: 26px;
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

.ul-margin {
    /*margin-left: 60px;*/
}

/*tabs for calculate*/
.p-country-guide {
    color: #507dbc;
    margin-top: 50px;
    /*padding-left: 20px*/
}


.txt-weight {
    border: none;
    height: 36px;
    text-align: center;
    background-color: white;
}

.cal-text-box {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    color: #11273b;
    font-weight: 600;
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
    margin-top: 10px;
    padding-left: 30%;
}

.radio-pricing {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(146, 156, 165, 0.2);
    border-radius: 50%;
    background-color: #ffffff;
    outline: 0;
}

.radio-pricing:checked {
    background-color: #ffffff;
    border: 4px solid #e85151;
}

.btn-cal-shop-ship {
    width: 109px;
    height: 22px;
    background-color: #11273b;
    color: #929ca5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

#price-cal-btn-margin .btn{
    padding: 0 11px;
}
.btn-cal-shop-ship:hover {
    color: #ffffff;
}

.btn-cal-courier:hover {
    color: #ffffff;
}

.btn-cal-shop-ship.active {
    color: #ffffff;
}

.btn-cal-courier .active {
    color: #ffffff;
}

.btn-cal-courier {
    width: 109px;
    height: 22px;
    background-color: #11273b;
    color: #929ca5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

/*arrow*/
.arrow_box {
    position: relative;
    background: #fff;
    /*border: 1px solid #ffff;*/
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 20px;
    margin-left: 30px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #ffff;
    border-width: 0px;
    margin-left: -0px;
}

/*arrow*/

.div-price-cal-length {
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
    height: 40px;
    padding-top: 3px;
}

.txt-length {
    border: none;
    width: 50px;
    height: 30px;
    text-align: center;
}

.div-price-cal-length-padding {
    margin-bottom: 20px
}

.btn-cal-estimate {
    color: #fff;
    font-weight: 600;
    height: 50px;
    width: 100%;
    border-radius: 60px;
    background-color: #e85151;
    margin-top: 10px;
}

.btn-info {
    background-color: #ffffff;
    color: #677582;
}

.dec-value {
    cursor: pointer;
    background: #000;
    padding: 0px 10px;
    color: #fff;
    font-size: 25px;
    line-height: 10px;
}

.inc-value {
    cursor: pointer;
    background: #000;
    /*padding:0px 10px;*/
    color: #fff;
    font-size: 25px;
    line-height: 10px;
}

.div-text-box {
    width: 280px;
    height: 40px;
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
}

.btn-puls-minus {
    background-color: #ffffff;
    color: #25283d;
    font-size: 24px;
}

.div-dimension {
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
    margin-top: 30px;
}

.btn-pricing-estimate {
    width: 210px;
    height: 40px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 60px !important;
    background-color: #e85151;
    transition: 0.6s;
}

.btn-pricing-estimate:hover {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.div-volumetric-weight-img {
    width: 391px;
    height: 418px;
    border: 1px solid rgba(146, 156, 165, 0.1);
    background-color: #fafafb;
}

.div-volumetric-weight {
    width: 220px;
    /*height: 20px;*/
    border-radius: 30px;
    background-color: #929ca5;
    margin-top: -13px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
}

.div-estimat-amount-devider {
    width: 461px;
    height: 1px;
    border: 1px solid #e9c46a;
}

.div-process {
    background-color: #ffffff;
    margin-bottom: 77px;
}

.div-country-guide-information {
    width: 300px;
    height: 269px;
    border: 1px solid #f0f1f3;
    background-color: #fafafb;
    padding-left: 3em;
    padding-top: 1em
}

.div-country-guide-information ul {
    list-style: none;
}

.div-country-guide-information ul li{
    text-decoration: none;
    color: #507dbc;
    padding-top: 10px;
    text-align: left;
    font-weight: 600;

}
.div-country-guide-information a{
    color: #507dbc;
}

.btn-price-cal-sounds-good {
    background-color: #507dbc;
}

.btn-price-cal-v-address {
    background-color: #e85151;
}

.btn-price-cal-sounds-good,
.btn-price-cal-v-address {
    width: 260px;
    height: 50px;
    border-radius: 60px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
}

.btn-membership-plans-monthly,.btn-membership-plans-yearly {
    width: 160px;
    height: 40px;
    background-color: #fafafb;
    font-weight: 900;
    transition: 0.6s;
    color: #929ca5;
}
.btn-membership-plans-monthly{
    border-radius: 5px 0 0 5px !important;
    margin-left: 29.3em;
}
.btn-membership-plans-yearly {
    border-radius: 0 5px 5px 0 !important;

}
.membership-text-margin{
    margin-top: 45px
}
.membership-feature-text-margin{
    margin-top: 165px;
}
.btn-membership-plans-yearly:hover {
    background-color: #e85151;
    color: #ffffff;
}

.btn-membership-plans-monthly:hover {
    background-color: #e85151;
    color: #ffffff;
}

.wrapper ul {
    list-style: none;
}
.tabs li {
    float: left;
    /*width: 20%;*/
    padding: 0;
}

.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #929ca5;
    padding: 12px 0;
    /*border-bottom: 2px solid #677582;*/
    /*background: #f7f7f7;*/
}

.tabs a:hover, active {
    /*background-color: #e85151;*/
    color: #ffffff;
}


.btn-membership-plans-monthly.active {
    background-image: none;
    outline: 0;
    background-color: #e85151;
    -webkit-box-shadow: none;
    color: #ffffff;
    box-shadow: none;
}

.btn-membership-plans-yearly.active{
    background-image: none;
    outline: 0;
    background-color: #e85151;
    -webkit-box-shadow: none;
    color: #ffffff;
    box-shadow: none;
}

.div-monthly-plans {
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
}

.btn-plans-individual-wholeseller {
    width: 160px;
    height: 40px;
    border-radius: 60px !important;
    border: 1px solid #507dbc !important;
    margin: 20px 0 20px 0;
    color: #507dbc;
    /*padding: 10px 12px;*/
    padding-top: 10px !important;
    background-color: #ffffff;
}

.btn-plans-seller {
    width: 160px;
    height: 40px;
    color: #ffffff;
    border-radius: 60px !important;
    background-color: #e85151;
    margin: 20px 0 20px 0;
    padding: 10px 30px;
}

.p-service-tax {
    color: #11273b;
    font-weight: 900;
    margin-top: 62px
}

.p-mem-plans-box {
    /*color: #11273b; */
    color: #507dbc;
    font-weight: 900;
}

/*.p-mem-plans-box1 {*/
    /*color: #11273b;*/
    /*font-weight: 500;*/
/*}*/

.tabgroup div {
    padding-top: 5px;
    padding-bottom: 5px;
    /*box-shadow:0 3px 10px rgba(0,0,0,.3);*/
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.box:hover #steps {
    box-shadow: 0 -1px 30px rgba(103, 117, 130, 0.17);
    background-color: #ffffff;
    border: 1px solid red;
}

.box-steps {
    height: 40px;
    width: 40px;
    border: 1px solid #929ca5;
    margin-top: 44px;
    text-transform: uppercase;
}

.img-process {
    height: 100px;
    width: 112px;
    margin-top: 57px;
}

.btn-request {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #e85151;
    color: #ffffff;
    font-size: 16px;
    margin: 24px 0 79px 0;
}

.div-review1 {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    border: 1px solid #2fac62;
    color: #fff;
    font-weight: 600;
    float: left;
    padding-top: 10px;
    padding-left: 11px;
    background-image: linear-gradient(196deg, #5ace89 0%, #44b773 100%);
}

.img-courier-review-g {
    width: 89px;
    height: 30px;
    float: left;
}

.img-courier-review-f {
    width: 108px;
    height: 22px;
    float: left;
}

#courier_rating {
    margin: 0px 0 0 0px !important;
}

.img-shipments-box {
    width: 1366px;
    height: 678px;
}

.p-seller {
    margin: 194px 0 0 24px;
}

.img-shipments {
    width: 100%;
}

.btn-request-cal-back {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    background-color: #507dbc;
    margin-top: 28px;
    color: #ffffff;
}

.btn-courier-know {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #e85151;
    background-color: #ffffff;
    color: #e85151;
    margin-top: 28px;
}
.text-final-price-margin{
    margin-top: 32px;
}
.price-cal-mobile{
    display: none;
    padding-bottom: 30px;
}
.view-all-features{
    color: #929ca5;
    font-weight: 500;
    margin-top:66px;
}

.div-monthly-plans h5{
    color: #11273b;
    font-weight: 500;
}
.div-monthly-plans h6{
    /*color: #507dbc;*/
    font-weight: 600;
}
.view-feature-text{
    color: #929ca5;
    margin:20px 30px
}
.text-forever{
    font-weight: 900;
    color: #929ca5;
}
.text-nochange-margin{
    margin-top: 30px;
}
.div-package-charges{
    background-color: #fafafb;
    margin-top: 7px;
    padding: 8px;
}
.div-package-charges1 {
    background-color: #fafafb;
    margin-top: 1px;
    padding: 4px;
}
.works_flow li, img {
    margin-top: 30px;
}
@media only screen and (max-width: 600px) {
    .div-shop-ship-tabs{
     padding-left: 0px;
    }
    #Price-cal {
        display: none;
    }

    .p-country-guide {
        margin-top: 0;
        margin-left: -12px;
    }

    .div-text-box {
        width: 175px;
    }

    .txt-weight {
        width: 100px;
    }

    .div-dimension {
        background-color: #fafafb;
    }

    .txt-length {
        width: 20px;
    }
    .div-estimat-amount-devider {
        width: 270px;
    }
    .price-cal-btn-margin a:hover{
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
        color: #ffffff;
    }
    /*.btn-price-cal-v-address a:hover {*/
        /*-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);*/
        /*-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);*/
        /*box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);*/
        /*color: #ffffff;*/
    /*}*/
    #price-cal-btn-margin{
        margin-top: 20px;
    }
    .txt-pincode{
        height: 35px;
        width: 140px;
    }
    .text-final-price-margin{
        margin-top: -4px;
        /*margin-left: 17px;*/
    }
    .div-country-guide-information {
        margin-left: 0em;
    }
    .btn-membership-plans-monthly,.btn-membership-plans-yearly {
        width: 150px;
    }
    .btn-membership-plans-monthly{
        margin-left: 1em;
    }
    .price-cal-mobile{
        display: block;
    }
    .price-cal-desktop{
        display: none;
    }
    .btn-plans-individual-wholeseller {
        width: 142px;
    }
    .btn-plans-seller{
        width: 142px;
    }
    .tabgroup div{
        padding: 0px;
    }
    .view-all-features{
        font-weight: 500;
        margin-top: 0px;
        margin-bottom: 62px;
    }
    .works_flow li, img {
        margin-top: 20px;
    }
    .membership-text-margin{
        margin-top: 15px
    }
    .membership-feature-text-margin {
        margin-top: 95px;
    }
    .text-nochange-margin{
        margin-top: 0px;
    }
    .btn-plans-seller {
        padding: 10px 20px;
    }
    .div-features-contents div{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .div-features-contents h6{
        margin-left: 10px;
    }
    .div-features-contents h4{
        margin-left: 10px;
    }
    /*.div-plan-box div{*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
    /*}*/
}
