
.btn-vid-img {
    width: 80px;
    height: 80px;
}

.div-courier-cal {
    box-shadow: 0 10px 50px rgba(17, 39, 59, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    /*margin-top: -100px;*/
}

.div-shop-ship-tabs {
    padding-left: 15%;
    padding-bottom: 30px
}

.div-courier-cal-margin {

    margin-bottom: 40px;
}

/*tabs for calculate*/

a:hover, a:focus {
    outline: none;
    text-decoration: none;
    color: #507dbc;
}

.tab .nav-tabs {
    border-bottom: none;
    position: relative;
}

.tab .nav-tabs li {
    /*margin-right: 15px;*/
}

.tab .nav-tabs li a {
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    /*color: #25283d;*/
    color: #677582;
    border-radius: 0;
    /*text-transform: uppercase;*/
    margin-right: 0;
    border: none;
    position: relative;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover {
    /*background: #fff;*/
}

.tab .nav-tabs li a:before {
    content: "";
    width: 60%;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 5px;
    left: 20px;
    background: #507dbc;
    transform: scale(0);
    transition: all 700ms ease 0s;
}

.tab .nav-tabs li a:after {
    content: "";
    background: #507dbc;
    margin: 0 auto;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: all 700ms ease 0s;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover {
    border: none;
    color: #507dbc;
}

.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after {
    transform: scale(1);
}

.tab .tab-content {
    /*padding: 20px;*/
    background: #fff;
    font-size: 14px;
    color: #677582;
    line-height: 26px;
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

.ul-margin {
    /*margin-left: 60px;*/
}

/*tabs for calculate*/
.p-country-guide {
    color: #507dbc;
    /*margin-top: 50px;*/
    /*padding-left: 20px*/
}

.txt-weight {
    border: none;
    height: 36px;
    text-align: center;
    background-color: white;
}

.cal-text-box {
    width: 100%;
    height: 50px;
    /*padding: 15px;*/
    margin: 5px 0 22px 0;
    border: none;
    color: #11273b;
    font-weight: 600;
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
    margin-top: 10px;
    padding-left: 3%;
}

.radio-pricing {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(146, 156, 165, 0.2);
    border-radius: 50%;
    background-color: #ffffff;
    outline: 0;
}

.radio-pricing:checked {
    background-color: #ffffff;
    border: 4px solid #e85151;
}

.btn-cal-shop-ship {
    width: 130px;
    height: 35px;
    background-color: #11273b;
    color: #929ca5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

#price-cal-btn-margin .btn {
    padding: 0 11px;
}

.btn-cal-shop-ship:hover {
    color: #ffffff;
}

.btn-cal-courier:hover {
    color: #ffffff;
}

.btn-cal-shop-ship.active {
    color: #ffffff;
}

.btn-cal-courier .active {
    color: #ffffff;
}

.btn-cal-courier {
    width: 130px;
    height: 35px;
    background-color: #11273b;
    color: #929ca5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin-left: 30%;
}

/*arrow*/
.arrow_box {
    position: relative;
    background: #fff;
    /*border: 1px solid #ffff;*/
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 25%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: 40px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #ffff;
    border-width: 0px;
    margin-left: -0px;
}

/*arrow*/

.div-price-cal-length {
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
    height: 40px;
    padding-top: 3px;
}

.txt-length {
    border: none;
    width: 50px;
    height: 30px;
    text-align: center;
}

.div-price-cal-length-padding {
    margin-bottom: 20px
}

.btn-cal-estimate {
    color: #fff;
    font-weight: 600;
    height: 50px;
    width: 100%;
    border-radius: 60px;
    background-color: #e85151;
    margin-top: 10px;
}

.header h1 span {
    color: #fdf699
}

.header-ifs-p {
    margin-top: 50px;
}

.header-ifs-p1 {
    margin-bottom: 50px;
}

.section-seller {
    padding-bottom: 30px
}

.seller-p {
    margin-left: 26px;
}

.seller-p span {
    color: #507dbc;
}

.ifs-font-weight1 {
    margin-left: -40px;
    margin-top: -30px;
}

.btn-info {
    background-color: #ffffff;
    color: #677582;
}

.dec-value {
    cursor: pointer;
    background: #000;
    padding: 0px 10px;
    color: #fff;
    font-size: 25px;
    line-height: 10px;
}

.inc-value {
    cursor: pointer;
    background: #000;
    /*padding:0px 10px;*/
    color: #fff;
    font-size: 25px;
    line-height: 10px;
}

.div-text-box {
    width: 280px;
    height: 40px;
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
}

.btn-puls-minus {
    background-color: #ffffff;
    color: #25283d;
    font-size: 24px;
    margin-left: 12px;
}

.div-dimension {
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
    margin-top: 30px;
}

.btn-pricing-estimate {
    width: 210px;
    height: 40px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 60px !important;
    background-color: #e85151;
    transition: 0.6s;
    margin-top: 15px;
    padding: 10px;
}

.btn-pricing-estimate:hover {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.div-volumetric-weight-img {
    width: 391px;
    /*height: 418px;*/
    border: 1px solid rgba(146, 156, 165, 0.1);
    background-color: #fafafb;
    padding-left: 3em;
    margin-top: 40px;
    padding-bottom: 10px;
}

.div-volumetric-weight {
    width: 220px;
    /*height: 20px;*/
    border-radius: 30px;
    background-color: #929ca5;
    margin-top: -13px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
}

.div-estimat-amount-devider {
    width: 461px;
    height: 1px;
    border: 1px solid #e9c46a;
    margin-bottom: 15px;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2) !important;
}

.div-process {
    background-color: #ffffff;
    margin-bottom: 77px;
    margin-top: 50px;
}

/*.div-monthly-plans div:nth-child(odd) {*/
/*background: #fafafb;*/
/*padding-top: 5px;*/
/*padding-bottom: 5px;*/
/*}*/

/*.div-monthly-plans div:nth-child(even) {*/
/*background: #fff;*/
/*padding-top: 5px;*/
/*padding-bottom: 5px;*/
/*}*/

.price-cal-membership {
    margin-top: 30px;
    font-weight: 900;
}

#view-more-plans {
    display: none;
}

#view-more-plans1 {
    display: none;
}

#view-more-plans2 {
    display: none;
}

#view-more-plans3 {
    display: none;
}

#view-more-plans4 {
    display: none;
}

#view-more-plans5 {
    display: none;
}

#view-more-plans6 {
    display: none;
}

#view-more-plans7 {
    display: none;
}

#less-features {
    display: none;
}

#less-features1 {
    display: none;
}

#less-features2 {
    display: none;
}

#less-features3 {
    display: none;
}

#year-less-view {
    display: none;
}

#year-less-view1 {
    display: none;
}

#year-less-view2 {
    display: none;
}

#year-less-view3 {
    display: none;
}

.header-padder-top {
    padding-bottom: 40px
}

.price-cal-country {
    margin-top: 10px
}

.p-country-guide span {
    margin-left: 20px
}

.control-label span {
    color: red;
}

.div-pric-cal-estimate {
    margin-top: 20px;
    padding-bottom: 35px;
}

.tab-pane:first-child {
    margin-top: 20px
}

#Domestic {
    padding-top: 20px;
}

.div-volumetric-weight-img :first-child {
    /*color: #507dbc;*/
    margin-top: 10px;

}

.div-volumetric-weight-img h6 {
    color: #507dbc;
    margin-top: 30px
}

.div-volumetric-weight-img img {
    width: 65%;
}

#price-cal-slide-down {
    margin-top: 15px;
    display: none;
    border: 1px solid #f0f1f3;
    padding: 15px;
}

#price-cal-slide-down1 {
    border: 1px solid #f0f1f3;
    margin-top: 15px;
    display: none;
    padding: 15px;

}

.price-cal-instruction p {
    color: #929ca5;
}

.price-cal-instruction span {
    color: red;
}

.div-padding-sp-charges {
    padding-top: 53px;
    padding-bottom: 53px ;
    padding-right: 0;
    padding-left: 0;
}

.div-country-guide-information {
    width: 300px;
    height: 269px;
    border: 1px solid #f0f1f3;
    background-color: #fafafb;
    padding-left: 3em;
    padding-top: 1em
}

.div-country-guide-information ul {
    list-style: none;
}

.div-country-guide-information ul li {
    text-decoration: none;
    color: #507dbc;
    padding-top: 10px;
    text-align: left;
    font-weight: 600;

}

.div-country-guide-information a {
    color: #507dbc;
}

.btn-price-cal-sounds-good {
    background-color: #507dbc;
}

.btn-price-cal-v-address {
    background-color: #e85151;
}

.btn-price-cal-sounds-good,
.btn-price-cal-v-address {
    width: 260px;
    height: 50px;
    border-radius: 60px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
}

.btn-membership-plans-monthly, .btn-membership-plans-yearly {
    width: 160px;
    height: 40px;
    background-color: #fafafb;
    font-weight: 900;
    transition: 0.6s;
    color: #929ca5;
    padding-top: 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #e85151 !important;
    color: #ffffff !important;
}
.btn-membership-plans-monthly {
    border-radius: 5px 0 0 5px !important;
    margin-left: 29.3em;
}

.btn-membership-plans-yearly {
    border-radius: 0 5px 5px 0 !important;

}

.membership-text-margin {
    margin-top: 45px
}

.membership-feature-text-margin {

    margin-top: 200px;
}

.btn-membership-plans-yearly:hover {
    background-color: #e85151;
    color: #ffffff;
}

.btn-membership-plans-monthly:hover {
    background-color: #e85151;
    color: #ffffff;
}

.wrapper ul {
    list-style: none;
}

.tabs li {
    float: left;
    /*width: 20%;*/
    padding: 0;
}

.btn-membership-plans-monthly.active {
    background-image: none;
    outline: 0;
    background-color: #e85151;
    -webkit-box-shadow: none;
    color: #ffffff;
    box-shadow: none;
}

.btn-membership-plans-yearly.active {
    background-image: none;
    outline: 0;
    background-color: #e85151;
    -webkit-box-shadow: none;
    color: #ffffff;
    box-shadow: none;
}

.div-monthly-plans {
    border: 1px solid rgba(146, 156, 165, 0.2);
    background-color: #ffffff;
}

.div-monthly-plans:hover {
    box-shadow: 0 0 20px rgba(232, 81, 81, 0.1);
    border: 1px solid #e85151;
}

.btn-plans-individual-wholeseller {
    width: 160px;
    height: 40px;
    border-radius: 60px !important;
    border: 1px solid #507dbc !important;
    margin: 20px 0 20px 0;
    color: #507dbc;
    padding: 10px 12px;
    /*padding-top: 10px !important;*/
    background-color: #ffffff;
}

.btn-plans-individual-wholeseller > a {
    color: #507dbc;
}

.btn-plans-seller {
    width: 160px;
    height: 40px;
    color: #ffffff;
    border-radius: 60px !important;
    background-color: #e85151;
    margin: 20px 0 20px 0;
    padding: 10px 20px;
}

.btn-plans-seller a {
    color: #ffffff;
}

.btn-plans-seller:hover {
    background-color: #C83B3B;
    color: white;
    border: none;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

.p-service-tax {
    color: #11273b;
    font-weight: 900;
    /*margin-top: 62px*/
}

.p-mem-plans-box {
    /*color: #11273b; */
    color: #507dbc;
    font-weight: 900;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.box:hover #steps {
    box-shadow: 0 -1px 30px rgba(103, 117, 130, 0.17);
    background-color: #ffffff;
    border: 1px solid red;
}
#number1{
    color: red;
}
#ics-box1, #ics-box2, #ics-box3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-steps {
    height: 40px;
    width: 40px;
    border: 1px solid #929ca5;
    text-transform: uppercase;
}

.img-process {
    height: 100px;
    width: 112px;
    margin-top: 57px;
}

.btn-request {
    width: 20%;
    height: 50px;
    border-radius: 30px !important;
    background-color: #e85151;
    color: #ffffff;
    font-size: 16px;
    margin: 24px 0 79px 0;
    padding-top: 13px;
}
.btn-request:hover {
    color: #fff;
    background-color: #C83B3B;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
}

.div-review1 {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    border: 1px solid #2fac62;
    color: #fff;
    font-weight: 600;
    float: left;
    padding-top: 10px;
    padding-left: 11px;
    background-image: linear-gradient(196deg, #5ace89 0%, #44b773 100%);
}

.img-courier-review-g {
    width: 89px;
    height: 30px;
    float: left;
}

.img-courier-review-f {
    width: 108px;
    height: 22px;
    float: left;
}

#courier_rating {
    margin: 0px 0 0 0px !important;
}

.img-shipments-box {
    width: 1366px;
    height: 678px;
}

.p-seller {
    margin: 194px 0 0 24px;
}

.img-shipments {
    width: 100%;
}

.btn-request-cal-back {
    height: 50px;
    width: 100%;
    border-radius: 30px !important;
    background-color: #507dbc;
    margin-top: 28px;
    color: #ffffff;
    padding-top: 13px;
}

.btn-request-cal-back:hover {
    color: white;
    border: none;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

#Courier {
    display: none;

}

.btn-courier-know {
    height: 50px;
    width: 100%;
    border-radius: 30px !important;
    border: 1px solid #e85151 !important;
    color: #e85151;
    margin-top: 28px;
    padding-top: 13px;
    transition: 0.6ms;
}

.btn-courier-know:hover {
    color: white;
    background-color: #C83B3B;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
}

.text-final-price-margin {
    margin-top: 32px;
    margin-left: 30px;
}

.price-cal-mobile {
    display: none;
    padding-bottom: 30px;
}

.view-all-features {
    color: #929ca5;
    font-weight: 500;
    margin-top: 81px;
}

.div-monthly-plans h5 {
    color: #11273b;
    font-weight: 500;
}

.div-monthly-plans h6 {
    /*color: #507dbc;*/
    font-weight: 900;
}

.view-feature-text {
    color: #929ca5;
    margin: 20px 30px;
    transition: 0.6s;
}

.view-feature-text:hover {
    /*margin:20px 50px;*/
    color: #507dbc;
}

.text-forever {
    font-weight: 900;
    color: #929ca5;
}

.text-nochange-margin {
    margin-top: 30px;
}

.div-package-charges {

    padding: 8px;
}

.div-package-charges1 {
    background-color: #fafafb;
    margin-top: 1px;
    padding: 4px;
}

.div-monthly-plans img {
    margin-top: 30px;
}

#final-price {
    color: #507dbc
}

#final-price1 {
    color: #507dbc
}
.mobile-view-more, .mobile-view-more1, .mobile-view-more2 {
    color: #929ca5
}
.mobile-view-less, .mobile-view-less1, .mobile-view-less2{
 display: none;
    color: #929ca5
}

#price-cal-btn-margin {
    padding-top: 20px;
    padding-bottom: 30px;
}

.courier-mem-plan-img {
    margin-top: 45px
}

.div-padding-sp-charges1 {
    padding-top: 45px ;
    padding-bottom: 50px ;
}

.shop-ship-tab-content {
    background-color: #ffffff;
   padding: 10px;
}

.courier-pickup-charge{
    background-color: #fafafb;
    padding-top: 18px;padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
}
/*become a partner page*/
.advertisement {
    height: 400px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

.advertisement-text {
    color: #929ca5;
    display: flex;
    align-items: center;
    margin: auto;
}

.btn-primary {
    background-color: #e85151;
    border-radius: 30px;
    color: #ffffff !important;
    border: none;
    font-weight: 800;
}

.btn-primary:hover {
    background-color: #e85151;
}

.btn-submit {
    background-color: #e85151;
    border-radius: 30px;
    color: #ffffff !important;
    border: none;
    font-weight: 800;
    padding: 10px;
    width: 200px;
}

.navbar {
    background-color: #11273b !important;
}

.nav-link {
    color: #929ca5 !important;
}

.fa-search {
    color: #ffffff;
}

.fa-align-right {
    color: #ffffff;
}

.jumbotron {
    background-color: #11273b;
    color: #ffffff;
}

.jumbotron-heading {
    line-height: 28px;
    font-size: 28px;
    font-weight: 800;
}

.jumbotron-text {
    font-size: 18px;
    color: #929ca5;
}
.text-primary {
    font-size: 24px;
}

.domestic-row, .international-row {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding-left: 12px;
}

.domestic-row > div, .international-row > div {
    padding: 8px 0;
    flex: 1;
}

.watsapp {
    background-color: #5aa773;
    padding: 10px;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*become a partner page*/

.tab-int-domestic{
    margin-left: 5em;
}

@media only screen and (max-width: 1024px) {

    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 16%;
    }

    .btn-membership-plans-monthly {
        margin-left: 22.3em;
    }

    .div-volumetric-weight-img {
        width: 360px;
    }

    .txt-length {
        width: 37px;
        height: 31px;
    }

    .btn-puls-minus {
        font-size: 20px;
    }

    #weight-option-padding {
        padding-left: 20px;
    }

    .btn-price-cal-sounds-good, .btn-price-cal-v-address {
        width: 230px;
    }
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 768px) {
    #Price-cal {
        display: none;
    }

    .div-country-guide-information {
        width: 290px;
        height: 250px;
        padding-left: 2em;
        padding-top: 2em;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    #final-price {
        margin-left: 16px;
    }

    #final-price1 {
        margin-left: 16px;
    }

    .text-final-price-margin {
        margin-left: 20px;
    }

    .price-cal-desktop {
        display: none;
    }

    .price-cal-mobile {
        display: block;
    }

    .view-all-features {
        margin-top: 91px;
    }

    .btn-plans-seller {
        margin: 9px 0 20px 0;
    }

    .btn-membership-plans-monthly {
        margin-left: 14.3em;
    }

}

@media only screen and (max-width: 736px) {

}

@media only screen and(max-width: 734px) {

}

@media only screen and (max-width: 684px) {

}

@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 603px) {

}

@media only screen and (max-width: 600px) {
    .header-padder-top {
        padding-bottom: 0;
        padding-top: 10%;
    }
    div.shop-ship-tab-content {
        padding-left: 0;
    }
    .div-shop-ship-tabs {
        padding-left: 0px;
    }

    .div-review1 {
        margin-left: 13px;
    }

    #Price-cal {
        display: none;
    }

    .p-country-guide {
        margin-top: 0;
        margin-left: -12px;
    }

    .div-text-box {
        width: 175px;
    }

    .txt-weight {
        width: 100px;
    }

    .div-dimension {
        background-color: #fafafb;
    }

    .txt-length {
        width: 20px;
    }

    .div-estimat-amount-devider {
        width: 270px;
    }

    .price-cal-btn-margin a:hover {
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
        color: #ffffff;
    }
    .div-padding-sp-charges1 {
        padding-top: 45px;
        padding-bottom: 29px;
    }
    .courier-pickup-charge{
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 0%;
    }
    .btn-request {
        width: 60%;
    }
    .btn-cal-courier {
        margin-left: 20%
    }

    #price-cal-btn-margin {
        padding-top: 20px;
        padding-bottom: 30px;

    }

    .txt-pincode {
        height: 35px;
        width: 140px;
    }

    .text-final-price-margin {
        margin-top: -4px;
        /*margin-left: 17px;*/
    }

    .btn-membership-plans-monthly, .btn-membership-plans-yearly {
        width: 150px;
    }

    .btn-membership-plans-monthly {
        margin-left: 1em;
    }

    .price-cal-mobile {
        display: block;
    }

    .price-cal-desktop {
        display: none;
    }
    .div-padding-sp-charges {
        padding-top: 40px ;
        padding-bottom: 42px ;
    }

    .btn-plans-individual-wholeseller {
        width: 162px;
    }

    .btn-plans-seller {
        width: 142px;
    }
    .view-all-features {
        font-weight: 500;
        margin-top: 49px;

    }

    .div-backgroud-price-cal1 {
        margin-bottom: 11px;
    }

    .div-monthly-plans img {
        margin-top: 20px;
    }

    .membership-text-margin {
        margin-top: 15px
    }

    .membership-feature-text-margin {
        margin-top: 119px;
    }

    .text-nochange-margin {
        margin-top: -7px;
    }

    .btn-plans-seller {
        padding: 11px 12px;
        margin-top: 9px;
    }

    .div-features-contents div {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .div-features-contents h6 {
        margin-left: 10px;
    }

    .div-features-contents h4 {
        margin-left: 10px;
    }

    .btn-plans-individual-wholeseller {
        padding: 10px 4px;
    }

    .courier-mem-plan-img {
        margin-top: 6px;
    }
    #price-cal-slide-down {
        padding: 0;
    }


    /*.div-plan-box div{*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*}*/
}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 460px) {

}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 412px) {

}

@media only screen and (max-width: 384px) {

}

@media only screen and (max-width: 375px) {
    .view-all-features {
        font-weight: 500;
        margin-top: 49px;

    }
}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {
    .view-all-features {
        font-weight: 500;
        margin-top: 33px;
    }
    .tab-int-domestic{
        margin-left: 1em;
    }
    .mobile-view1{
        /*margin-top: -41px;*/
    }

}
