
.boxofScroll {
    width: 280px;
    /*height: 290px;*/
    /*margin-right: 10px;*/
}

.divOverFlow {
    overflow: hidden;
    white-space: nowrap;
}

.EcomBox {
    /* Style for "box01" */
    width: 270px;
    height: 160px;
    box-shadow: 0 0 8px rgba(195, 199, 204, 0.2);
    border: 1px solid #fafafb;
    background-color: #ffffff;
    /*padding: 24px;*/
    display: table;
    display: table-cell;
    vertical-align: middle;
}

.FlatOffer {
    /*width: 142px;*/
    padding: 10px;
    height: 19px;
    color: #507dbc;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.FlatOfferDuration {
    padding: 18px;
    height: 17px;
    color: #929ca5;
    font-size: 14px;
    font-weight: 500;
}

.ecomSmallBox {
    width: 150px;
    /*height: 116px;*/
    /*padding-top: 10%;*/
}

.div-offer-header {
    display: inline-block;
    vertical-align: top;
}

.div-offer-s-header {
    width: 100%;
    vertical-align: bottom;
}

.div-offer-t-header {
    height: 255px;
    padding: 5px;
    transition: box-shadow .5s ease-out;
}

.div-offer-t-header:hover {
    box-shadow: 0 0 6px #dedede;
    border-radius: 6px;
}

.delivery {
    background-color: #fafafb;
}
@media only screen and (max-width: 600px) {
    .EcomBox{
        margin-top: 15px;
    }

}





