.f-s-36{font-size:36px }
.f-s-34{font-size:34px }
.f-s-32{font-size:32px }
.f-s-30{font-size:30px }
.f-s-28{font-size:28px }
.f-s-26{font-size:26px }
.f-s-24{font-size:24px }
.f-s-22{font-size:22px }
.f-s-20{font-size:20px }
.f-s-18{font-size:18px }
.f-s-16{font-size:16px }
.f-s-14{font-size:14px }
.f-s-12{font-size:12px }
.f-s-10{font-size:10px }
.f-s-8{font-size:8px }

.f-c-red{color: #e85151;}
.f-c-white{color: #ffffff;}
.f-c-blue{color: #507dbc;}
.f-c-l-gray{color: #929ca5;;}
.f-c-gray{color: #677582;}
.f-c-d-greay{color: #11273b;}
.f-c-yellow{color: #fdf699;}

.f-w-9{font-weight: 900}
.f-w-8{font-weight: 800}
.f-w-7{font-weight: 700}
.f-w-6{font-weight: 600}
.f-w-5{font-weight: 500}
.f-w-4{font-weight: 400}

.uppercase{text-transform: uppercase}
.div-align-items-r{text-align: right;}
.div-align-items-l{text-align: left;}

.div-b-g{border: 1px solid rgba(146, 156, 165, 0.2);}
.b-r{background-color: #ffffff;}

.btn-f-w{width: 100%}
.btn-xl{width: 300px;height: 44px; margin-top: 25px}
.btn-l{width: 160px;height: 40px;}
.btn-b-r{background-color: #e85151;}
.btn-b-b{background-color: #507dbc;}
.btn-t{border-radius: 3px;border: 1px solid rgba(146, 156, 165, 0.2);background-color: #ffffff;}

.btn-s-b {border: none;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);border-radius: 5px !important;color: #fff;font-weight: 700;display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.btn-s-b:before {content: "";position: absolute;border-radius: 5px !important;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: #507dbc;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.btn-s-b:hover, .btn-s-b:focus, .btn-s-b:active {color: white;}
.btn-s-b:hover:before, .btn-s-b:focus:before, .btn-s-b:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}

.btn-s-r {border: none;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);border-radius: 5px !important;color: #fff;font-weight: 700;display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.btn-s-r:before {content: "";position: absolute;border-radius: 5px !important;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: #EC7070;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.btn-s-r:hover, .btn-s-r:focus, .btn-s-r:active {color: white;}
.btn-s-r:hover:before, .btn-s-r:focus:before, .btn-s-r:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}


.btn-a-l{padding: 10px 30px;}
.btn-a-m{padding: 10px 5%;}

.b-r-0{border-radius: 0}
.b-r-3{border-radius: 3px}
.b-r-60{border-radius: 60px}

.txt-f-w{width: 100% ; height: 40px }
.txt-xl{width:360px;height: 40px}
.txt-l{width:270px; height: 40px}
.txt-m{width:90px;height: 40px}
.txt-s{}
.txt-w{width:100%}
.txt-shadow{box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);background-color: #ffffff;border: 0}
.txt-pad{padding-left: 2%;}
.txt-a-c{text-align: center}
.txt-a-l{text-align: left}
.txt-a-r{text-align: right}


.pad-20{padding:20px}
.pad-15{padding:20px}
.pad-10{padding:20px}
.pad-25{padding:20px}
.no-pad{padding:0}


.div-align-items-r{text-align: right;}
.div-align-items-l{text-align: left;}

/*shipments-page*/

.div-s-p-h {padding: 20px 0 30px}
.shipping-partner {padding-top: 40px;background-color: #fafafb;}
.shipping-partner .shipments-information {box-shadow: 0 0 6px rgba(17, 39, 59, 0.05);border-radius: 3px;background-color: #ffffff;padding-top: 60px;padding-bottom: 60px;}
.shipping-partner .shipments-information div {padding-left: 30px}
.shipping-partner .shipments-list{box-shadow: 0 0 6px rgba(17, 39, 59, 0.05);border-radius: 3px;background-color: #ffffff;padding:20px;margin-top: 30px}
.sec-shipped{padding-top: 20px;background-color: #fafafb;}
.shipped-countries{box-shadow: 0 0 6px rgba(17, 39, 59, 0.05);border-radius: 3px;background-color: #ffffff; padding: 50px}
.shipped-countries ul{text-decoration: none;list-style: none;}
.shipped-countries ul li{color: #929ca5;font-size: 18px;font-weight: 400;text-align: left;padding-top: 15px;}
.shipped-countries ul li img{margin-top: 9px;}
.shipped-countries ul li span{font-family: Montserrat;font-size: 14px;font-weight: 900;font-style: italic;margin-left: 10px;}
.left-pad{padding-left: 0}
.rigth-pad{padding-right: 0}

/*shipments-page*/
@media only screen and (max-width: 600px) {
.f-s-36{font-size:24px }
.f-s-34{font-size:22px }
.f-s-32{font-size:20px }
.f-s-30{font-size:18px }
.f-s-28{font-size:17px }
.f-s-26{font-size:16px }
.f-s-24{font-size:15px }
.f-s-22{font-size:14px }
.f-s-20{font-size:13px }
.f-s-18{font-size:12px }
.btn-a-l{padding: 10px 20px;}


.txt-xl{width:100%;}
.txt-l {width: 235px;}
.div-align-items-r{text-align: center;}
.div-align-items-l{text-align: center;}

}
