.searchbox__reset:focus, .searchbox__submit:focus {
    outline: 0
}

.aa-dropdown-menu *, .searchbox {
    box-sizing: border-box
}

.searchbox {
    display: inline-block;
    position: relative;
    margin-top: 6px;
    width: 287px;
    height: 37px;
    white-space: nowrap;
    font-size: 13px;
    font-family: arial, sans-serif
}

.searchbox__reset, .searchbox__submit {
    position: absolute;
    font-size: inherit;
    padding: 0
}

.searchbox__wrapper {
    width: 100%;
    height: 100%
}

.searchbox__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 19px;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    background: #FFF;
    padding: 0 30px 0 37px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.searchbox__input::-webkit-search-cancel-button, .searchbox__input::-webkit-search-decoration, .searchbox__input::-webkit-search-results-button, .searchbox__input::-webkit-search-results-decoration {
    display: none
}

.searchbox__input:hover {
    box-shadow: inset 0 0 0 1px silver
}

.searchbox__input:active, .searchbox__input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px #4098CE;
    background: #FFF
}

.searchbox__input::-webkit-input-placeholder {
    color: #AAA
}

.searchbox__input::-moz-placeholder {
    color: #AAA
}

.searchbox__input:-ms-input-placeholder {
    color: #AAA
}

.searchbox__input::placeholder {
    color: #AAA
}

.searchbox__submit {
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 18px 0 0 18px;
    background-color: rgba(255, 255, 255, 0);
    width: 37px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.searchbox__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.searchbox__submit:active, .searchbox__submit:hover {
    cursor: pointer
}

.searchbox__submit svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    fill: #666
}

.searchbox__reset {
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, .5)
}

.searchbox__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px
}

.searchbox__input:valid ~ .searchbox__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
    animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
    animation-duration: .15s
}

@-webkit-keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.aa-dropdown-menu {
    top: -6px;
    border-radius: 3px;
    margin: 6px 0 0;
    padding: 0;
    text-align: left;
    height: auto;
    position: relative;
    background: 0 0;
    border: none;
    width: 100%;
    left: 0 !important;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2), 0 2px 3px 0 rgba(0, 0, 0, .1)
}

.aa-dropdown-menu:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    top: -7px;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    transform: rotate(-45deg);
    border-radius: 2px;
    z-index: 999;
    display: block;
    left: 24px
}

.aa-dropdown-menu .aa-suggestions {
    position: relative;
    z-index: 1000
}

.aa-dropdown-menu [class^=aa-dataset-] {
    position: relative;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    overflow: auto;
    padding: 8px
}

.aa-suggestion {
    font-size: 1.1em;
    padding: 4px 4px 0;
    display: block;
    width: 100%;
    height: 38px;
    clear: both
}
