
/* Dropdown Button */
.dropbtn {
    background-color: #11273b!important;
    padding: 9px;
    font-size: 15px;
    border: none;
    color: #929ca5!important;
    text-decoration: none;
    font-weight: 600;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.ddl-more-option {
    display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
     /* your css rules for ipad portrait */
    .ddl-more-option {
        display: block !important;
    }
    .shoppre-offers {
        display: none !important;
    }
    .shoppre-support {
        display: none !important;
    }
    .shoppre-partner {
        display: none !important;
    }
    .new-menu-register {
        margin-top: 5px !important;
        margin-left: 12px !important;
    }
    #logo-mobile {
        display: block !important;
    }
    #logo-desktop {
        display: none;
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
     /* your css rules for ipad landscape */
    .ddl-more-option {
        display: block;
    }
    .shoppre-offers {
        display: none !important;
    }
    .shoppre-support {
        display: none !important;
    }
    .shoppre-partner {
        display: none !important;
    }

    .new-menu-register {
        margin-top: 5px !important;
        margin-left: 12px !important;
    }
    #logo-mobile {
        display: block !important;
    }
    #logo-desktop {
        display: none;
    }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/


.nav-h-shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #11273b
}

.c-f-p {
    padding-left: 5%;
    padding-right: 5%
}

.nav-bar-b-pad {
    padding-bottom: 5%
}

.s-header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999
}

.s-img-footer {
    height: 50px;
    width: 172px
}

.navbar-toggle {
    float: left!important
}

.footer-text-s {
    font-size: 14px
}

.f-s-50 {
    font-size: 50px
}

.f-s-45 {
    font-size: 45px
}

.f-s-40 {
    font-size: 40px
}

.f-s-36 {
    font-size: 36px
}

.f-s-34 {
    font-size: 34px
}

.f-s-32 {
    font-size: 32px
}

.f-s-30 {
    font-size: 30px
}

.f-s-28 {
    font-size: 28px
}

.f-s-26 {
    font-size: 26px
}

.f-s-24 {
    font-size: 24px
}

.f-s-22 {
    font-size: 22px
}

.f-s-20 {
    font-size: 20px
}

.f-s-18 {
    font-size: 18px
}

.f-s-16 {
    font-size: 16px
}

.f-s-14 {
    font-size: 14px
}

.f-s-12 {
    font-size: 12px
}

.f-s-10 {
    font-size: 10px
}

.f-s-8 {
    font-size: 8px
}

.f-c-red {
    color: #e85151
}

.f-c-white {
    color: #fff
}

.f-c-blue {
    color: #507dbc
}

.f-c-l-gray {
    color: #929ca5
}

.f-c-gray {
    color: #677582
}

.f-c-d-greay {
    color: #11273b
}

.f-c-yellow {
    color: #fdf699
}

.f-c-green {
    color: #44b773
}

.f-w-9 {
    font-weight: 900
}

.f-w-8 {
    font-weight: 800
}

.f-w-7 {
    font-weight: 700
}

.f-w-6 {
    font-weight: 600
}

.f-w-5 {
    font-weight: 500
}

.f-w-4 {
    font-weight: 400
}

.uppercase {
    text-transform: uppercase
}

.div-align-items-r {
    text-align: right
}

.div-align-items-l {
    text-align: left
}

.div-b-g {
    border: 1px solid rgba(146, 156, 165, .2)
}

.div-b-l-w {
    box-shadow: 0 1px 3px rgba(17, 39, 59, .1);
    background-color: #fafafb
}

.div-b-w-s {
    box-shadow: 0 1px 3px rgba(17, 39, 59, .1);
    border-radius: 3px;
    background-color: #fff
}

.div-c {
    width: 44px;
    height: 44px;
    box-shadow: 0 3px 6px rgba(17, 39, 59, .1);
    border: 1px solid #fff;
    border-radius: 100px
}

.b-r {
    border: 1px solid rgba(146, 156, 165, .2)!important
}

.b-r {
    background-color: #fff
}

.bgr-c-gr {
    background-color: #44b773
}

.bgr-c-bl {
    background-color: #507dbc
}

.bgr-c-gl {
    background-color: #e9c46a
}

.bgr-c-br {
    background-color: #e85151
}

.btn-f-w {
    width: 100%
}

.btn-xl {
    width: 300px;
    height: 44px;
    margin-top: 25px
}

.btn-l {
    width: 160px;
    height: 40px
}

.btn-b-r {
    background-color: #e85151
}

.btn-b-b {
    background-color: #507dbc
}

.btn-b-y {
    background-color: #fdf699
}

.btn-b-w {
    background-color: #fff
}

.btn-b-g {
    background-color: #44b773
}

.btn-h-40 {
    height: 40px
}

.btn-t {
    border-radius: 3px;
    border: 1px solid rgba(146, 156, 165, .2);
    background-color: #fff
}

.btn-s-b {
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    border-radius: 5px!important;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.btn-s-b:before {
    content: "";
    position: absolute;
    border-radius: 5px!important;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #507dbc;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.btn-s-b:active,
.btn-s-b:focus,
.btn-s-b:hover {
    color: #fff
}

.btn-s-b:active:before,
.btn-s-b:focus:before,
.btn-s-b:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.btn-s-r {
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    border-radius: 3px!important;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.btn-s-r:before {
    content: "";
    position: absolute;
    border-radius: 5px!important;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ec7070;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.btn-s-r:active,
.btn-s-r:focus,
.btn-s-r:hover {
    color: #fff
}

.btn-s-r:active:before,
.btn-s-r:focus:before,
.btn-s-r:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.btn-a-f-w {
    padding: 1% 1%
}

.btn-a-l {
    padding: 10px 30px
}

.btn-a-m {
    padding: 10px 25px
}

.b-r-0 {
    border-radius: 0
}

.b-r-3 {
    border-radius: 3px
}

.b-r-60 {
    border-radius: 60px
}

.cursor-type-p {
    cursor: pointer
}

.txt-f-w {
    width: 100%;
    height: 40px
}

.txt-xl {
    width: 360px;
    height: 40px
}

.txt-l {
    width: 270px;
    height: 40px
}

.txt-m {
    width: 90px;
    height: 40px
}

.txt-s {
    width: 50px;
    height: 40px
}

.txt-d-br {
    border: 1px solid #929ca5
}

.txt-l-br {
    border: 1px solid #ddd
}

.txt-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background-color: #fff;
    border: 0
}

.txt-shadow-br {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background-color: #fff
}

.txt-pad {
    padding-left: 2%
}

.txt-n-b {
    border: none
}

.txt-u-l {
    text-decoration: underline
}

.txt-a-c {
    text-align: center
}

.txt-a-l {
    text-align: left
}

.txt-a-r {
    text-align: right
}

.txt-italic {
    font-style: italic
}

.txt-b-r {
    border-radius: 3px!important
}

.l-h-1 {
    line-height: 1
}

.l-h-2 {
    line-height: 2
}

.l-h-3 {
    line-height: 3
}

.btn {
    padding: 9px 12px
}

.btn-radio {
    border: 1px solid rgba(146, 156, 165, .2);
    background-color: #fff;
    display: inline-block;
    border-radius: 3px!important;
    color: #12273b
}

.btn-radio.active {
    background-color: #507dbc;
    color: #fff
}

.pad-5 {
    padding: 5px
}

.pad-10 {
    padding: 10px
}

.pad-15 {
    padding: 15px
}

.pad-20 {
    padding: 20px
}

.pad-25 {
    padding: 25px
}

.pad-30 {
    padding: 30px
}

.pad-35 {
    padding: 35px
}

.pad-40 {
    padding: 40px
}

.pad-t-5 {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-10 {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-15 {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-20 {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-25 {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-30 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-35 {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-t-40 {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.pad-b-5 {
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-10 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-15 {
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-20 {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-25 {
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-30 {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-35 {
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-b-40 {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.pad-l-5 {
    padding-left: 5px;
    padding-right: 0
}

.pad-l-10 {
    padding-left: 10px;
    padding-right: 0
}

.pad-l-15 {
    padding-left: 15px;
    padding-right: 0
}

.pad-l-20 {
    padding-left: 20px;
    padding-right: 0
}

.pad-r-5 {
    padding-right: 5px;
    padding-left: 0
}

.pad-r-10 {
    padding-right: 10px;
    padding-left: 0
}

.pad-r-15 {
    padding-right: 15px;
    padding-left: 0
}

.pad-r-20 {
    padding-right: 20px;
    padding-left: 0
}

.no-pad {
    padding: 0
}

.m-t-10 {
    margin-top: 10px
}

.m-t-15 {
    margin-top: 15px
}

.m-t-20 {
    margin-top: 20px
}

.m-t-25 {
    margin-top: 25px
}

.m-t-30 {
    margin-top: 30px
}

.display-none {
    display: none
}

.display-i-b {
    display: inline-block
}

.div-s-p-h {
    padding: 20px 0 30px
}

.shipping-partner {
    padding-top: 40px;
    background-color: #fafafb
}

.shipping-partner .shipments-information {
    box-shadow: 0 0 6px rgba(17, 39, 59, .05);
    border-radius: 3px;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px
}

.shipping-partner .shipments-information div {
    padding-left: 30px
}

.shipping-partner .shipments-list {
    box-shadow: 0 0 6px rgba(17, 39, 59, .05);
    border-radius: 3px;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px
}

.sec-shipped {
    padding-top: 20px;
    background-color: #fafafb
}

.shipped-countries {
    box-shadow: 0 0 6px rgba(17, 39, 59, .05);
    border-radius: 3px;
    background-color: #fff;
    padding: 50px
}

.shipped-countries ul {
    text-decoration: none;
    list-style: none
}

.shipped-countries ul li {
    color: #929ca5;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-top: 15px
}

.shipped-countries ul li img {
    margin-top: 9px
}

.shipped-countries ul li span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    margin-left: 10px
}

.left-pad {
    padding-left: 0
}

.right-pad {
    padding-right: 0
}

.img-f-w {
    width: 100%
}

#memberplans {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%
}

#memberplans td,
#memberplans th {
    border: 1px solid #ddd;
    text-align: center
}

#memberplans td:hover {
    border: 2px solid #e9c46a;
    background-color: #fff
}

#memberplans tr:nth-child(odd) {
    background-color: #fafafb
}

#memberplans tr:hover {
    background-color: #fff
}

#memberplans th {
    color: #11273b
}

@media only screen and (max-width:600px) {
    .c-f-p {
        padding-left: 3%;
        padding-right: 3%
    }
    .f-s-50 {
        font-size: 28px
    }
    .f-s-36 {
        font-size: 24px
    }
    .f-s-34 {
        font-size: 22px
    }
    .f-s-32 {
        font-size: 20px
    }
    .f-s-30 {
        font-size: 18px
    }
    .f-s-28 {
        font-size: 20px
    }
    .f-s-26 {
        font-size: 20px
    }
    .f-s-24 {
        font-size: 20px
    }
    .f-s-22 {
        font-size: 19px
    }
    .f-s-20 {
        font-size: 14px
    }
    .f-s-18 {
        font-size: 14px
    }
    .f-s-16 {
        font-size: 13px
    }
    .f-s-14 {
        font-size: 10px
    }
    .btn-a-l {
        padding: 10px 20px
    }
    #memberplans td,
    #memberplans th {
        border: 1px solid #ddd;
        text-align: center
    }
    .txt-xl {
        width: 100%
    }
    .txt-l {
        width: 235px
    }
    .div-align-items-r {
        text-align: center
    }
    .div-align-items-l {
        text-align: center
    }
    .pad-20 {
        padding: 10px
    }
    .pad-l-5 {
        padding-left: 0
    }
    .pad-l-10 {
        padding-left: 0
    }
    .pad-l-15 {
        padding-left: 0
    }
    .pad-l-20 {
        padding-left: 0
    }
    .pad-r-5 {
        padding-right: 0
    }
    .pad-r-10 {
        padding-right: 0
    }
    .pad-r-15 {
        padding-right: 0
    }
    .pad-r-20 {
        padding-right: 0
    }
    .pad-t-25 {
        padding-top: 15px
    }
    .pad-t-30 {
        padding-top: 20px
    }
    .pad-t-35 {
        padding-top: 25px
    }
    .pad-t-40 {
        padding-top: 30px
    }
    .pad-b-25 {
        padding-bottom: 25px
    }
    .pad-b-30 {
        padding-bottom: 30px
    }
    .pad-b-35 {
        padding-bottom: 35px
    }
    .pad-b-40 {
        padding-bottom: 40px
    }
    .m-t-30 {
        margin-top: 0
    }
}